@font-face {
    font-family: 'Ibarra-real-nova';
    src: url('../assets/fonts/IbarraRealNova-Bold.woff2') format('woff2'),
        url('../assets/fonts/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public-sans';
    src: url('../assets/fonts/PublicSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

